/* Lo siguiente determina el espacio en el contorno de la página. */
*{
  padding-top: 0px;
  padding-left: 10px;
  padding-right: 10px;
}
/* Estilos que marca en el body. */
body{
  font-family: 'Roboto', sans-serif;
}
/* Estilo que marca el pie de página o footer. */
footer{
  text-align: center;
}
